@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.btn-group{
  padding: 100px ,100px 100px,100px;
  float:right;
 display:block;
 margin-right:0px;
 clear:left;
}

.table{
  margin-top: 10px;
}


#item-dropdown{
 margin-right: 100px;
}
